---
name: matrix-sample
on:
  push:
  workflow_dispatch:

jobs:
  matrix-job:
    strategy:
      matrix:
        common-settings: [old,latest]
        task: [test-build-job-A,test-build-job-B,integ-test]
        include:
          - task: test-build-job-A
            config: settings-A
          - task: test-build-job-B
            config: settings-B
          - task: integ-test
            config: settings-integ

    runs-on: ubuntu-latest
    needs: [build-job-A,build-job-B]
    steps:
      - name: common settings
        run: |
          echo "done common settings ${{ matrix.common-settings }}"

      - name: individual settings
        run: |
          echo "done config ${{ matrix.config }}"

      - name: test
        run: |
          echo "done test ${{ matrix.task }}"
          mkdir -p test_results/${{ matrix.common-settings }}_${{ matrix.task }}
          echo 'OK' > test_results/${{ matrix.common-settings }}_${{ matrix.task }}_result.txt

      - name: upload artifacts (to GitHub)
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.common-settings }}_${{ matrix.task }}
          path: test_results/${{ matrix.common-settings }}_${{ matrix.task }}_result.txt        

  build-job-A:
    runs-on: ubuntu-latest
    steps:
      - name: setup
        run: |
          echo "setup done"

      - name: build
        run: |
          echo "build done"

      - name: deploy
        run: |
          echo "deploy done"

  build-job-B:
    runs-on: ubuntu-latest
    steps:
      - name: setup
        run: |
          echo "setup done"

      - name: build
        run: |
          echo "build done"

      - name: deploy
        run: |
          echo "deploy done"

  upload:
    runs-on: ubuntu-latest
    needs: matrix-job
    steps:
      - name: upload
        run: |
          echo "upload to artifactory"

  notify:
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: matrix-job
    steps:
      - name: download artifact
        uses: actions/download-artifact@v2
        with:
          path: download-artifact

      - name: notify results
        run: |
          artifact_result=(`find . -name "*result.txt"`)
          for v in "${artifact_result[@]}"
          do
            test=`echo ${v##*/}`
            result=$(
              head -n 1 "$v"
            )
            echo "Tests:"$test"\Results:"$result""
          done