name: actions-test
on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Ceckout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: Check variables
        run: |
          base_branch=$(git show-branch --all 2>/dev/null | grep '*' | grep -v "$(git rev-parse --abbrev-ref HEAD)" | head -1 | awk -F'[]~^[]' '{print $2}' | sed 's/origin\///')
          echo "base branch is ${base_branch}"
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "PR"
            branch=${{ github.base_ref }}
          elif [[ "${{ github.event_name }}" == "workflow_dispatch" && "${base_branch}" != "maintenance"* ]]; then
            echo "workflow_dispatch, basebranch is not maintenance"
            branch=$(git rev-parse --abbrev-ref HEAD)
          elif [[ "${{ github.event_name }}" == "workflow_dispatch" && "${base_branch}" == "maintenance"* ]]; then
            echo "workflow_dispatch, basebranch is maintenance"
            branch=${base_branch}
          elif [[ "${{ github.event_name }}" == "push" && "${{ github.ref_name }}" == "maintenance"* ]]; then
            echo "maintenance push"
            branch=${{ github.ref_name }}
          elif [[ "${{ github.event_name }}" == "push" && "${{ github.ref_name }}" != "maintenance"* ]]; then
            echo "not maintenance push"
            branch=${base_branch}
          fi
          echo "######"
          echo ${branch}

